---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE } from "../../consts";
import { getCollection } from "astro:content";
import PostList from "../../components/PostList.astro";

const posts = (await getCollection("blog", ({ data }) => !data.draft)).sort(
	(a, b) => b.data.createdAt.valueOf() - a.data.createdAt.valueOf(),
);
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} />
    <link
      rel="preload"
      href="/fonts/NotoColorEmoji.ttf"
      as="font"
      type="font/ttf"
      crossorigin
    />
    <style>
      .tag-link { text-align: right; margin: 0.5rem 0; }
      .tag {
        color: var(--link-color);
      }
      .tag:hover {
        color: var(--link-hover-color);
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
        <div class="tag-link">
          <a href="/blog/tag/" class="tag"> All Tags </a>
        </div>
      <PostList posts={posts} class="fade-in" />
    </main>
    <Footer />
  </body>
</html>
