<span class="withNotoColorEmojiFont"><slot/></span>
<style>
  @font-face {
    font-family: "Noto Color Emoji";
    src: url("/fonts/NotoColorEmoji.ttf");
  }
  .withNotoColorEmojiFont {
    font-family: "Noto Color Emoji", Verdana, Tahoma;
  }
</style>
