---
import HeaderLink from "./HeaderLink.astro";
---

<header
  class="sticky top-0 bg-white/80 backdrop-blur shadow-[0_2px_8px_rgba(var(--black),0.05)] px-4"
>
  <nav class="flex items-center justify-center text-[var(--font-size-large)]">
    <div class="flex">
      <HeaderLink href="/" class="px-2 py-1 text-black hover:text-[var(--link-hover-color)]">Home</HeaderLink>
      <HeaderLink href="/blog/" class="px-2 py-1 text-black hover:text-[var(--link-hover-color)]">Blog</HeaderLink>
      <HeaderLink href="/tag/" class="px-2 py-1 text-black hover:text-[var(--link-hover-color)]">Tag</HeaderLink>
    </div>
  </nav>
</header>

