---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE } from "../../consts";
import { getCollection } from "astro:content";
import { slugifyTag } from "../../lib/tag";
import EmojiIcon from "../../components/EmojiIcon.astro";

const posts = (await getCollection("blog", ({ data }) => !data.draft)).sort(
	(a, b) => b.data.createdAt.valueOf() - a.data.createdAt.valueOf(),
);
const map = new Map<string, { name: string; slug: string; count: number }>();
for (const post of posts) {
	for (const tag of post.data.tags || []) {
		const slug = slugifyTag(tag);
		const entry = map.get(slug) || { name: tag, slug, count: 0 };
		if (!map.has(slug)) {
			map.set(slug, entry);
		}
		entry.count++;
	}
}
const tags = Array.from(map.values()).sort((a, b) =>
	a.name.localeCompare(b.name),
);
---
<head>
  <BaseHead title={`${SITE_TITLE} Tags`} />
  <style>
    .list {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      line-height: 1.5;
    }
    .tag {
      display: inline-block;
      padding: 0.3rem 0.6rem;
      background: var(--surface);
      border-radius: var(--surface-radius);
      text-decoration: none;
      color: inherit;
      box-shadow: 0 2px 6px rgba(var(--gray), 25%);
    }
  </style>
</head>
<body>
  <Header />
  <main class="fade-in">
    <ul class="list">
      {tags.map((c) => (
        <li>
          <a href={`/tag/${c.slug}/`} class="tag">
            <EmojiIcon>🏷️</EmojiIcon> {c.name} ({c.count})
          </a>
        </li>
      ))}
    </ul>
  </main>
  <Footer />
</body>
