name: Lint, Format and Build Check

on:
  pull_request:

permissions:
  contents: read

jobs:
  lint-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup PNPM
        uses: pnpm/action-setup@v4

      - name: Install dependencies
        run: pnpm install

      - name: Run linter
        run: pnpm run lint

      - name: Check formatting
        run: |
          pnpm run format
          git diff --exit-code

      - name: Build
        run: pnpm run build
